@model Park.Victor.Grein.Benner.Models.Preco

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Tem certeza de que deseja excluir isso?</h3>
<div>
    <h4>Preco</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Precos.PrecoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precos.PrecoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VigenciaInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VigenciaInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VigenciaFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VigenciaFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorHora)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
