@model Park.Victor.Grein.Benner.Models.Preco

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Preço</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Precos.PrecoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precos.PrecoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VigenciaInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VigenciaInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VigenciaFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VigenciaFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorHora)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrecoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
